<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="addStudents">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>LEAD Add Student</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<body ng-controller="mainController">

    <div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron">
            <h3>Add Student</h3><hr ng-style ="hrstyle">
			<div class="form-group">
                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<table class="col-sm-8" ng-style="{'cellpadding':'15px'}">
						<tr >
						<td>Full Name</td>
						<td><input type="text" class=" input-lg" ng-model="formData.name" value={{formData1.name}}></td>
						</tr>
						
						<tr>
						<td>Date Of Birth</td>
						<td><input type="date" class=" input-lg " ng-model="formData.date" ></td>
						</tr>
						
						<tr>
						<td>School</td>
						<td><select ng-style="custom" ng-model="formData.school" ng-options="x for x in school" value={{formData1.school}}></td>
						</tr>
						
						
						<tr>
						<td>Class</td>
						<td><select ng-style="custom" ng-model="formData.clas" ng-options="x for x in clas" value={{formData1.clas}}></select></td>
						</tr>
						
						
						<tr>
						<td>Division</td>
						<td><select ng-style="custom" ng-model="formData.division" ng-options="x for x in division" value={{formData1.division}}></select></td>
						</tr>
						
						
						<tr>
						<td>Status</td>
						<td><input type="radio" ng-model="formData.soption" value="active" value={{formData1.soption}}>Active
							<input type="radio" ng-model="formData.soption" value="inactive"value={{formData1.soption}}>Inactive</td>
						</tr>
						<tr >
						
						<td colspan="2" align="center" >
						<button type="submit" ng-style="custom" class="btn btn-primary btn-lg" ng-click="createTodo()">Save</button>
						</td>
						</tr>
						</table>
               
        </div>

        <!-- TODO LIST -->
        <div id="todo-list" class="row">
            

        </div>  

        <!-- FORM TO CREATE TODOS -->
        

    </div>

</body>
</html>