<html  ng-app="addStudents">
<head>

<style>
#boxed{
	background-color: lightgrey;
    width: 300px;
    border: 25px;
    padding: 25px;
    margin: 25px;
}

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>
</head>

<body>
<div ng-controller="mainController">

<div id="boxed">
<center>
<font face="Comic Sans MS"><p>Create a new account</p>
<font size="2"><span>Email ID /Phone Number</span>
<input style="margin-bottom:10px;"type="text" ng-model="regData.email" width="250px"/><br>
<span >Password</span><br>
<input  type="password" ng-model="regData.pass" /><br>
<button style="margin:10px;"ng-click="newUser()">Submit</button>
</font>
</font>
</center>
</div>
</div>

</body>
</html>